{% extends "layouts.html" %}

{% block titile %} CMDB | 用户编辑 {% endblock %}
{% block nav_users %} class="active" {% endblock %}
{% block nav_users_list %} class="active" {% endblock %}
{% block breadcrumb %}
            <li>
                <a href="javascripts:void(0)">用户</a>
            </li>
            <li class="active">
                <strong>用户管理</strong>
            </li>
             <li class="active">
                <strong>用户编辑</strong>
            </li>
{% endblock %}
{% block content %}
            <form class="form-horizontal" action="/users/modify/" method="post">
                <input type="hidden" name="id" value="{{id}}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                    用户名</label>

                    <div class="col-sm-10">
                        <input type="text" placeholder="用户" class="form-control" name="username" value="{{username}}" />
                    </div>
               </div>
                              
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                    年龄</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"  placeholder="年龄" name="age" value="{{age}}" /> 
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                    部门</label>

                    <div class="col-sm-10">
                        <select class="form-control m-b" name="department">
                                        <option value="1" {% if '1'==department %} selected="selected" {% endif %}  >
                                            研发部门</option>
                                        <option value="2" {% if '2'==department %} selected="selected"  {% endif %} >
                                            运维部门</option>
                                        <option value="3" {% if '3'==department %} selected="selected"  {% endif %} >
                                            测试部门</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        性别 </label>

                        <div class="col-sm-10">
                                 <div>
                                     <label> 
                                        <input type="radio" value=1  name="sex" {% if 1 == sex %} checked="checked" 
                                        {% endif %}> 男</label>
                                      <label> 
                                        <input type="radio" value=0  name="sex" {% if 0 == sex %} checked="checked" 
                                        {% endif %}> 女</label>
                                 </div>
                        </div>
                                </div>
 
                 <div class="form-group">
                    <label class="col-sm-2 control-label">
                        爱好</label>

                            <div class="col-sm-10">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="hobby" value="basketball" 
                                    {% if 'basketball' in hobby %} checked="checked" {% endif %} /> 
                                 篮球 </label> 
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="hobby" value="football"
                                    {% if 'football' in hobby %} checked="checked" {% endif %}  /> 
                                足球 </label> 
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="hobby" value="music"
                                    {% if 'music' in hobby %} checked="checked" {% endif %}/> 
                                音乐 </label>
                            </div>
                  </div>
                              
                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱</label>

                        <div class="col-sm-10">
                            <input type="email" placeholder="邮箱" class="form-control" name="email" value="{{email}}"  />
                        </div>
                </div>
                   

                <div class="form-group">
                    <label class="col-sm-2 control-label">生日</label>
                        <div class="col-sm-10">
                            <input type="date"  placeholder="生日" class="form-control" name="birthday" value="{{birthday}}" /> 
                        </div>
                </div>

                <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                    
                            {% if error %}
                <div class="form-group">
                        <div class="alert alert-warning" role="alert">{{error}}</div>           
                </div>
                            {% endif %}
                        <button class="btn btn-primary" type="submit">编辑</button>
                        </div>
                                </div>
                </form>
{% endblock %}