{% extends "layouts.html" %}
{% block title %}CMDB | 监控{% endblock %}
{% block link %}
<link href="/static/sfv/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/sfv/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/sfv/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/slider/css/bootstrap-slider.css" rel="stylesheet">
<link href="/static/sfv/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/static/bootstrap-datepicker-1.6.4/dist/css/bootstrap-datepicker3.css" rel="stylesheet">

{% endblock %}
{% block nav_alerts %}class="active" {% endblock %}
{% block nav_alerts_list %} class="active"{% endblock %}
{% block breadcrumb %}
<li>
    <a href="javascript:void(0)">监控</a>
</li>
<li class="active">
    <strong>告警</strong>
</li>
{% endblock %}
{% block content %}

<table class="alerts table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>ip</th>
            <th>内容</th>
            <th>管理员</th>
            <th>状态</th>
            <th>类型</th>
            <th>告警时间</th>
            <th>操作</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


{% endblock %}
{% block script %}
<script src="/static/sfv/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/static/slider/js/bootstrap-slider.js"></script>
<script src="/static/sfv/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/bootstrap-datepicker-1.6.4/dist/js/bootstrap-datepicker.js"></script>
<script src="/static/bootstrap-datepicker-1.6.4/js/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="/static/Highcharts-5.0.3/code/highcharts.js"></script>
<script src="/static/Highcharts-5.0.3/code/js/modules/exporting.js"></script>




{% endblock %}

{% block js %}
jQuery(document).ready(function() {
    var table = jQuery('.alerts').dataTable({
        responsive: true,
        "dom": 'T<"clear">lfrtip',
        language: {
                            "sProcessing": "处理中...",
                            "sLengthMenu": "显示 _MENU_ 项结果",
                            "sZeroRecords": "没有匹配结果",
                            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                            "sInfoPostFix": "",
                            "sSearch": "搜索:",
                            "sUrl": "",
                            "sEmptyTable": "表中数据为空",
                            "sLoadingRecords": "载入中...",
                            "sInfoThousands": ",",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "上页",
                                "sNext": "下页",
                                "sLast": "末页"
                            },
                            "oAria": {
                                "sSortAscending": ": 以升序排列此列",
                                "sSortDescending": ": 以降序排列此列"
                            }
                        },
        "tableTools": {
            "sSwfPath": "/static/sfv/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
        },
        "ajax" : '/alerts/list/',
        "columns" : [

            {"data" : "ip"},
            {"data" : "message"},
            {"data" : "admin"},
            {"data" : "status"},
            {"data" : "type"},
            {"data" : "c_time"},
            
            {
                "data" : function(row) {
                    var elements = [];
                    elements.push('<a class="btn-delete" data-id="' + row['id'] + '" href="javascript:void(0)"><i class="fa fa-trash"></i></a>');
                    return elements.join(' ');
                }
            }
        ]
    });
     
    jQuery('.alerts').on('click', '.btn-delete', function() {

        //发起请求
         var that = this;
         swal({
                title: "确认删除?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认删除!",
                closeOnConfirm: false
            }, function () {
                jQuery.get('/alerts/delete/', 
                    {'id' : jQuery(that).data('id')}, 
                    function(data){
                    if(data['code']===200){
                    swal({
                                title: "删除成功",
                                text: "",
                                type: "success",
                               
                            });
                    table.api().ajax.reload();
                                }
                              },'json');
            });

       
                                
    });

});
{% endblock%}
