<!DOCTYPE html>
 <html>
     <head>
     	<!--  我是一个注释-->
      <meta charset="utf-8" />
      <title>登录</title>
  </head>
  <body>
     <form action="/login/" method="post">
          {% if error %}
              <span style="color:red">{{error}} </span>
          {% endif %}
         <label>用户名:</label><input type="text" name="username" value="{{username}}"/>
         <label>密码:</label><input type="password" name="password" value="{{password}}"/>
         <input type="submit" value="登录"/>
     </form>
  </body>
  </html>
