<!DOCTYPE html>
 <html>
     <head>
      <!--  我是一个注释-->
      <meta charset="utf-8" />
      <title>机房信息修改</title>
  </head>
  <body>
     <form action="/machine/modify/" method="post">
          {% if error %}
              <span style="color:red">{{error}} </span>
          {% endif %}
          <input type="hidden" name="id" value="{{id}}"/>
         <label>机房名:</label><input type="text" name="name" value="{{name}}"/>
         <label>地址:</label><input type ="text" name="addr" value="{{addr}}"/>
         <label>ip地址段:</label><input type = "text" name="ip_ranges" value="{{ip_ranges}}">
         <input type="submit" value="修改"/>
     </form>
  </body>
  </html