<!DOCTYPE html>
 <html>
     <head>
        <!--  我是一个注释-->
      <meta charset="utf-8" />
      <title> log top n</title>
  </head>
  <body>
     <a href="/log/?topn=10">top 10</a>
     <a href="/log/?topn=20">top 20</a>
     <a href="/log/?topn=50">top 50</a>
     <a href="/log/?topn=100">top 100</a>
     <table border="1">
        <thead>
            <tr>
            <th>ip</th>
            <th>url</th>
            <th>status</th>
            <th>count</th>
        </tr>
        </thead>
        <tbody>
            {% for log in logs  %}
                 <tr>
                  <td>{{log[0]}}</td>
                  <td>{{log[1]}}</td>
                  <td>{{log[2]}}</td>
                  <td>{{log[3]}}</td>
                 </tr>
            {% endfor %}
        </tbody>
     </table>   
  </body>
  </html>